h1.page-title {
    text-align: center;
    padding: 30px;
}
.woocommerce div.product .woocommerce-tabs .panel {
    padding-left: 20px;
}

.woocommerce form .form-row label {
    width: 100%;
}

section.related.products {
    padding: 0 22px;
}

body.single-product {
    padding: 0;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
    margin-top: 10px;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
table {
    border: 1px solid #e9e9e9;
    background-color: #fcfcfc;
    border-spacing: 0;
    letter-spacing: 0.5px;
    margin: 0 0 20px;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}
table th {
    padding: 10px 10px;
    color: #ffffff;
}
table td {
    border: 1px solid #e8e7e7;
    padding: 8px 10px;
}
.woocommerce form .form-row textarea {
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
}
.woocommerce form .form-row input.input-text, .select2-container .select2-selection--single {
    min-height: 35px;
    border: 1px solid #e5e5e5;
    line-height: 35px;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 100px;
}
.coupon input[type="text"]{ 
     display: block; 
     font-size: 14px; 
     height: 50px; 
     line-height: 1.42857; 
     padding: 6px 10px; 
     transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; 
     vertical-align: middle; 
   width: 100%; 
    border: 0; 
     border-radius: 0; 
     border-bottom: 1px solid; 
     margin-bottom: 13px; 
 } 
.woocommerce a.button, .woocommerce button.button.alt, .woocommerce #respond input#submit, .woocommerce input.button.alt, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce-cart table.cart input.button, .woocommerce input.button, .woocommerce button.button {
    height: 50px;
	padding:20px;
}


a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart, .woocommerce a.button, .woocommerce button.button.alt, .woocommerce #respond input#submit, .woocommerce input.button.alt, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce-cart table.cart input.button, .woocommerce input.button, .woocommerce button.button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1)!important;
    border-radius: 4px!important;
    display: inline-block!important;
    -webkit-transition: .3s;
    transition: .3s!important;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    width: 100%;
    height: 60px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus {
    background: #ffffff; 
	border: 1px solid;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left!important;
    width: 48%!important;
}
.col-1,.col-2 {
    max-width: 100%!important;
}
.woocommerce-billing-fields__field-wrapper input[type="text"],.woocommerce-billing-fields__field-wrapper input[type="email"],.woocommerce-billing-fields__field-wrapper input[type="tel"] {
    padding: 6px 25px;
	height:30px;
}
.select2-container .select2-selection--single{
	width:320px;
}
.mini_cart_item img {
    height: 80px;
    width: 80px;
    margin-right: 15px;
}
.woocommerce .quantity .qty {
    height: 50px;
}
.product_meta a {
    color: #5e6271;
}
.container.woo-container {
    margin-top: 10%;
}
.woo-container .button-cart a {
    padding: 18px;
    margin-top: 20px;
}
.woo-sidebar ul li {
    list-style: none;
}
.woo-sidebar .price_slider_wrapper .ui-slider-horizontal {
    background: #2c3145!important;
}
.woocommerce .price_slider_wrapper .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    top: -5px;
}
select {
    background-clip: padding-box;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: block;
    font-weight: 500;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover, .woocommerce a.button:hover, .woocommerce button.button.alt:hover,.woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_order:hover {
    background: #fff !important;
    border: 1px solid;
}
.woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.summary.entry-summary form .single_add_to_cart_button {
    margin-top: 4px !important;
}

.woo-container {
    margin-top: 20px !important;
    width: 100%;
    display: inline-block;
}